<div *ngIf="dataLoaded">
<div class='container'>
  <div class='row'>
    <div class='col-xs-8'>
      <h1>{{project.name}}</h1>
      <h4>{{project.description}}</h4>
<form>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Your Information</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="nameInput">Full Name</label>
            <input [(ngModel)]="name" name="fullName" class="form-control" id="nameInput" placeholder="John Doe" required/>
          </div>
          <div class=form-group>
            <label for="emailAddressInput">Email Address</label>
            <input [(ngModel)]="emailAddress" name="emailAddress" class="form-control"  id="emailAddressInput" placeholder="address@domain.com" required/>
          </div>
          <div class=form-group>
            <label for="physicalAddressInput">Address (optional)</label>
            <input [(ngModel)]="physicalAddress" name="physicalAddress" class="form-control"  id="physicalAddressInput" placeholder="1234 Abundant Ave, Vancouver, V5T 6K5" />
          </div>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Your relation to the project</h3>
        </div>
        <div class="panel-body">
          <div class="form-check" *ngFor="let reason of relationships">
            <label class="form-check-label"><input type="checkbox" name="relationship"  class="form-check-input"[(ngModel)]="reason.appliesToUser" />{{reason.description}}</label>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Why do you support this project?</h3>
        </div>
        <div class="panel-body">
          <div class="form-check" *ngFor="let reason of supportReasons">
            <label class="form-check-label"><input type="checkbox" name="support"  class="form-check-input"[(ngModel)]="reason.appliesToUser" />{{reason.description}}</label>
          </div>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">What do you think could be improved?</h3>
        </div>
        <div class="panel-body">
          <div class="form-check" *ngFor="let reason of improvements">
            <label class="form-check-label"><input type="checkbox" name="improve"  class="form-check-input"[(ngModel)]="reason.appliesToUser" />{{reason.description}}</label>
          </div>
        </div>
      </div>
      <div>
        <button (click)="generateText()" class="btn btn-success">Generate Letter</button>
      </div>
      <h4>Generated letter</h4>
      <div><textarea [(ngModel)]="letter" name="letter" placeholder="Your letter goes here" rows="12" cols='90'></textarea></div>
      </form>
    </div>
  </div>
</div>
</div>